*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
     height: 100vh;
    width: 100vw;
}

main{
    height: 100vh;
    width: 100vw;
    /* display: flex; */
    display: flex;
}

#sidebar{
    width: 20%;
    height: 100%;
    
    background-color: #1F1E24;
    border: 2px solid gray;
    padding: 40px 20px 40px 20px;
}
#sidebar .first{
    display: flex;
    gap: 5px;
    margin-left: 10%;
}




#sidebar .first p{
    font-size: 25px;
    color: rgb(41, 41, 191);
}
#sidebar .first h1{
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 25px;
}

#sidebar .second{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


#sidebar .second h1{
    left: 10%;
    margin-top: 40px;
    font-size: 25px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
}

#sidebar .second .button{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    height: 70px;
    width: 200px;
    background-color: #1F1E24;
    
    border-radius: 10px;
    font-size: 20px;
    color: white;
    gap: 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 100;
    transition: 0.1s ease-in-out;
}

#sidebar .second .button:hover{
    background-color: #6556CD;

}

#sidebar .second hr{
    width: 100%;
    height: 2px;

}






#sidebar .third{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


#sidebar .third h1{
    left: 10%;
    margin-top: 40px;
    font-size: 25px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
}

#sidebar .third .button{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    height: 70px;
    width: 200px;
    background-color: #1F1E24;
    
    border-radius: 10px;
    font-size: 20px;
    color: white;
    gap: 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 100;
    transition: 0.1s ease-in-out;
}

#sidebar .third .button:hover{
    background-color: #6556CD;

}



#content{
    width: 80%;
    background-color: #1F1E24;
    display: flex;
    flex-direction: column;
}

#nav{
    width: 100%;
    height: 10%;
    background-color: #1F1E24;
    display: flex;
    justify-content: start;
    align-items: center;
}
#nav #thing{
    margin-left: 20%;
     width: 500px;
    height: 40px;
    display: flex;
    align-items: center;
    gap: 10px;
    background-color: #1F1E24;
}
#nav #thing input{
    width: 500px;
    height: 40px;
    border-radius: 20px;
    background-color: #1F1E24;
    border: none;
    padding: 20px;

}
#nav #thing input::placeholder{
    font-size: 20px;
}
#nav #thing p{
    font-size: 30px;
    color: aliceblue;
}


#banner{
    position: relative;
    width: 100%;
    height: 55%;
    background-color: red;
    overflow: hidden;
    
}

#banner img{
    position: absolute;
     width: 100%;
    height: 100%;
    object-fit: cover;
    /* opacity: 0.9; */
    filter: brightness(40%);
    z-index: 50;

}


#banner h1{
    position: absolute;
    z-index: 100;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 60px;
    font-weight: 900;
    color: white;
    bottom: 40%;
    left: 5%;

}
#banner p{
    position: absolute;
    z-index: 100;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 18px;
    font-weight: 100;
    color: rgb(178, 177, 177);
    bottom: 26%;
    left: 5%;

}
#banner button{
    position: absolute;
    z-index: 100;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 15px;
    font-weight: 100;
    background-color: #6556CD;
    color: white;
   padding: 15px 30px;
    bottom: 10%;
    left: 5%;
    border-radius: 10px;


}



#cards{
    width: 100%;
    height: 40%;
    background-color: #1F1E24;
    padding: 15px;
    
}

#cards .hey{
    width: 100%;
    height: 100%;
    display: flex;
    gap: 15px;
}

#cards .hey .all{
    height: 90%;
    width: 20%;
    background-color: #404042;
}

#cards .hey .all img{
    width: 100%;
    height: 60%;
}

#cards .hey .all h3{
    color: white;
    margin-left: 10%;
    font-size: 15px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}